body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 30%; /* Adjust the flex proportion to control the height of the top container */
}

.visual {
    border: 2px solid #000;
    box-sizing: border-box;
    overflow: visible; /* Changed to visible to allow contents to show outside the borders */
}

.visual1 {
    flex: 2; /* Takes up twice the space compared to visual2 */
    flex-direction: column;
    padding: 0 20px;
    overflow: hidden; /* Keeps its children contained */
}

.visual2 {
    flex: 1; /* Takes less space than visual1 */
    overflow: visible; /* Should show all contents, adjust if contents need to be contained */
    background-color: #f4f4f4; /* Added for visibility, change as needed */
}

.icon-row {
    display: flex;
    justify-content: space-around; /* Adjusted to maintain spacing between icons */
    padding: 10px 0;
    margin-bottom: 70px;  /* Adds more space below the icons */
}

.icon-description h2 {
    font-size: 24px;
    color: #000;
    text-align: left;
    margin-bottom: 2px;
}

.icon-description p {
    font-size: 16px;
    color: #666;
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 0; /* Removes additional space above the subtitle */
}

.icon-container {
    position: relative; /* For positioning circles absolutely within it */
}

.circles-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns circles to the left */
    position: absolute; /* Absolute positioning relative to icon-container */
    top: 100%; /* Places circles directly below the icon container */
    left: 0; /* Aligns with the left of the icon container */
    width: max-content; /* Only as wide as its contents, preventing stretching */
    background-color: rgba(255, 255, 255, 0.9); /* Optional: adds background color for visibility */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    z-index: 100; /* Ensures the container appears above other content */
}

.circle {
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50%;
    margin-top: 5px; /* Space between circles */
}

.circle + span {
    font-size: 60%; /* Reduced font size */
    margin-left: 2px; /* Space between the circle and text */
    white-space: nowrap; /* Prevents text wrapping */
}

.icon-row img {
    width: auto; /* Adjust width to fit icons as necessary */
    height: 50px; /* Fixed height for icons, prevent resizing */
}

.graph-container {
    flex-grow: 1; /* Takes up the remaining space in the .visual1 container after icons */
    width: 100%; /* Graph takes the full width of the container */
    overflow: visible; /* Set to 'hidden' if you do not want the graph to overflow */
}

.bottom-visual {
    flex: 3 1 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 500px;*/
    overflow: visible;
    padding: 10px;
}

.bottom-visual img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.scaled-image {
    width: 60%;
    height: auto;
}

h1 {
    text-align: center;
    color: black;
}

#lineChart svg {
    width: 100%;
    height: 100%;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    opacity: 1; /* Adjust initial opacity */
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    font-size: 10px; /* Adjust the font size as needed */
}

.y-axis-label, .x-axis-label {
    font-size: 12px; /* Adjust font size if needed */
}

.pheasant-demure-button, .solid, .light {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
}

.light {
    border: 2px solid #ccc;
}

.hover:hover {
    background-color: #ccc;
    color: #fff;
}

/* Styles for the range slider */
.slider-container {
    margin-top: 5px;
}

.slider-container .slider-axis, .slider-axis-title {
    font-size: 5px;
    font-weight: bold;
}

.slider-container .slider-handle, .slider-selection {
    fill: #646464; /* Slider handle and selection color */
}

.slider-container .slider-track {
    fill: #ccc; /* Track color */
}

.slider-container .slider-axis-label {
    font-size: 5px;
    fill: #333; /* Label color */
    transform: translateY(-10px); /* Adjust label position */
}



/*///////// TOGGLE BAR///////////////
 */

.toggle-wrapper {
    margin-top: 2px; /* Space between icons and toggle */
    margin-bottom: 5px; /* Space between toggle and graph */
}

.toggleContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border: 3px solid #343434;
    border-radius: 20px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
    padding: 6px 0; /* Added padding for better touch area */
    transform: scale(0.7); /* Apply scaling here */
    transform-origin: center; /* Scale from the center */
}

.toggleContainer::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius: 20px;
    background: white;
    transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
}

.toggleContainer div {
    padding: 6px;
    text-align: center;
    z-index: 1;
    font-size: 12px;  /* Adjust font size here */
    color: white;  /* Adjust text color here */
    font-weight: bold;  /* Adjust text weight here */
}

.toggleCheckbox {
    display: none;
}

.toggleCheckbox:checked + .toggleContainer div:first-child {
    color: white;
    transition: color 0.3s;
}

.toggleCheckbox:checked + .toggleContainer div:last-child {
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:first-child {
    color: #343434;
    transition: color 0.3s;
}

.toggleCheckbox + .toggleContainer div:last-child {
    color: white;
    transition: color 0.3s;
}


#innovation_plot .metric-container svg {
    transform: scale(0.8);  /* Adjust the scale factor as needed */
    transform-origin: center; /* Ensures scaling happens from the center */
}

#innovation_plot .metric-container .slider-container {
    width: 100%; // Ensures the slider takes the full width of the container
    margin-top: 20px; // Adds space between the SVG and the slider
    display: flex;
    justify-content: center; // Centers the slider in the container
}

#innovation_plot .metric-container {
    padding: 10px;
    margin-bottom: 10px; // Ensures there is space between each plot and slider combination
    display: flex;
    flex-direction: column; // Stacks the SVG and slider vertically
    align-items: center; // Centers the contents horizontally
}




